


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  height: 100vh;
  background-color: #f0f0f0;
}

h1{
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

#weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#city-input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

#weather-info {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #555;
}

#error-message {
  color: red;
  margin-top: 10px;
}

#get-weather-btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#get-weather-btn:hover {
  background-color: #0056b3;
}
